.lead__title {
  font-family: 'Inter';
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: center;  
  margin: 0;
  max-width: 720px;
}

@media screen and (max-width:768px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 13vw;
  }
}