.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px;
  max-width: 1184px;
  padding: 0 48px;
}

@media screen and (max-width:1024px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width:768px) {
  .footer {
    max-width: 768px;
  }
}

@media screen and (max-width:767px) {
  .footer {
    display: block;
    margin-top: 64px;
    padding: 0 0 0 16px;
  }
}
